
.col-lg-12{
  float: left;
  font-family: Open Sans;
  height: auto;
}

.col-lg-12 h2{
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  color: black;
  font-weight: bold;
  font-family: Open Sans;
}

.col-lg-12 h3{
  color: black;
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
  font-family: Open Sans;
  line-height: 2.0;
}

#selamat{
  color: white;
  font-size: 25px;
  margin-top: 10px;
}

